<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MerchPlus API Services</title>
</head>
<body>
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - BSM Consultancy Limited</p>
        </footer>
    </div>
    @RenderBody()
</body>
</html>
